<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mikhailgrigorev.quickpassword">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGEE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.QP"
        tools:targetApi="q">
        <activity android:name="com.mikhailgrigorev.quickpassword.ui.donut.DonutActivity" />
        <service
            android:name="com.mikhailgrigorev.quickpassword.service.QuickPassAutoFillService"
            android:label="QuickPass"
            android:enabled="true"
            android:process=":process_description"
            android:exported="false"
            tools:node="replace"
            android:permission="android.permission.BIND_AUTOFILL_SERVICE">
            <intent-filter>
                <action android:name="android.service.autofill.AutofillService" />
            </intent-filter>

            <meta-data
                android:name="android.autofill"
                android:resource="@xml/service_configuration" />
        </service>

        <activity
            android:name="com.mikhailgrigorev.quickpassword.ui.settings.SettingsActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.mikhailgrigorev.quickpassword.ui.pin_code.set.SetPinActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.mikhailgrigorev.quickpassword.ui.pin_code.re.RePinActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.mikhailgrigorev.quickpassword.ui.pin_code.view.PinActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.mikhailgrigorev.quickpassword.ui.about.AboutActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.mikhailgrigorev.quickpassword.ui.account.edit.EditAccountActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.mikhailgrigorev.quickpassword.ui.password_card.edit.EditPassActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.mikhailgrigorev.quickpassword.ui.password_card.view.PasswordViewActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.mikhailgrigorev.quickpassword.ui.password_card.create.CreatePasswordActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.mikhailgrigorev.quickpassword.ui.account.view.AccountActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.mikhailgrigorev.quickpassword.ui.auth.sign.SignActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.mikhailgrigorev.quickpassword.ui.main_activity.MainActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mikhailgrigorev.quickpassword.ui.auth.re.sign.ReSignActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.mikhailgrigorev.quickpassword.ui.auth.re.login.ReLoginActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.mikhailgrigorev.quickpassword.ui.auth.login.LoginAfterSplashActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.mikhailgrigorev.quickpassword.ui.auth.login.LoginActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="fullSensor"
            android:exported="false">
            <intent-filter>
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>